<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="YahooMail">

	<listeners>
		<listener class-name="com.YahooMail.utilities.Reporting" />
	</listeners>

	<test name="YahooMail">
		<parameter name="browser" value="firefox" />
		<parameter name="number_of_mails" value="3" />
		<classes>
		
 	<!-- TC_Testing_01 for Unspam all Mail 7 Read inbox-->
 	 <!-- TC_Testing_02 for Login and logoff check-->
  
		  <class name="com.YahooMail.testCases.TC_Testing_01" />  

		</classes>
	
	</test>

</suite>	
